<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <applicationSettings>
    <SA.SA>
      <setting name="IEnvelopeService" serializeAs="String">
        <value>SA.Services.EnvelopeServices.EnvelopeSvcImpl</value>
      </setting>
      <setting name="IManufacturerService" serializeAs="String">
        <value>SA.Services.ManufacturerService.ManufacturerSvcImpl</value>
      </setting>
      <setting name="IPedigreeService" serializeAs="String">
        <value>SA.Services.PedigreeService.PedigreeSvcImpl</value>
      </setting>
      <setting name="IProductService" serializeAs="String">
        <value>SA.Services.ReceiverDataService.ReceiverDataSvcImpl</value>
      </setting>
      <setting name="ISenderDataService" serializeAs="String">
        <value>SA>Services.SenderDataService.SenderDataSvcImpl</value>
      </setting>      
    </SA.SA>
  </applicationSettings>
</configuration>
